<nav class="navbar">
    <div class="container">
        <a href="{% url 'home:home' %}">Home</a>
        {% if request.user.is_authenticated %}
            {% if request.user.is_coach %}
                <a href="{% url 'coaches:coach_post' %}">Post</a>
            {% endif %}
                <a href="{% url 'accounts:user_profile' request.user.id %}">Profile</a>
                <a href="{% url 'accounts:user_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'accounts:user_register' %}">User Register</a>
            <a href="{% url 'coaches:coach_register' %}">Coach Register</a>
            <a href="{% url 'accounts:user_login' %}">Login</a>
        {% endif %}
    </div>
</nav>
