{% extends 'base.html' %}
{% load static %}
{% block title %}Answer Appointment - OnlineGym{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'coaches/answer.css' %}">
{% endblock %}

{% block content %}
<div class="answer-container">
    <h2>Answer Appointment</h2>
    <div class="appointment-details">
        <p><strong>User:</strong> {{ appointment.user.user.full_name }}</p>
        <p><strong>Plan:</strong> {{ appointment.plan }}</p>
        <p><strong>Age:</strong> {{ appointment.age }}</p>
        <p><strong>Height:</strong> {{ appointment.height }} cm</p>
        <p><strong>Weight:</strong> {{ appointment.weight }} kg</p>
        <p><strong>Description:</strong> {{ appointment.descriptions }}</p>
        {% if appointment.image %}
            <img src="{{ appointment.image.url }}" alt="user Image" style="max-width: 50px;">
        {% else %}
            <p>No image available</p>
        {% endif %}
    </div>
    <form method="post" id="exercise-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-send-plan">Send Plan</button>
    </form>
</div>
{% endblock %}