{% extends 'base.html' %}
{% load static %}

{% block title %}Exercises - OnlineGym{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'coaches/exercises.css' %}">
{% endblock %}

{% block content %}
<div class="exercises-container">
    <h2>Exercises</h2>
    <form method="post" class="exercise-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-add-exercise">Add Exercise</button>
    </form>
    {% if exercises %}
        <div class="exercises-list">
            {% for exercise in exercises %}
                <div class="exercise-card">
                    <p><strong>Name:</strong> {{ exercise.name }}</p>
                    <p><strong>Category:</strong> {{ exercise.category }}</p>
                    <p><strong>Sets:</strong> {{ exercise.sets }}</p>
                    <p><strong>Reps:</strong> {{ exercise.reps }}</p>
                    <a href="{% url 'coaches:coach_exercises_delete' exercise.id exercise.coach.user.id %}">Delete</a>
                    <a href="">Edit</a>
                </div>
                
            {% endfor %}
        </div>
    {% else %}
        <p class="no-exercises">No exercises yet.</p>
    {% endif %}
</div>
{% endblock %}