{% extends 'base.html' %}
{% load static %}

{% block title %}Coach Requests - OnlineGym{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'coaches/requests.css' %}">
{% endblock %}

{% block content %}
<div class="requests-container">
    <h2>Coach Requests</h2>
    {% if appointments %}
        <div class="requests-list">
            {% for appointment in appointments %}
                <div class="request-card">
                    <p><strong>User:</strong> {{ appointment.user.user.full_name }}</p>
                    <p><strong>Plan:</strong> {{ appointment.plan }}</p>
                    <p><strong>Date:</strong> {{ appointment.created|date:"F j, Y" }}</p>
                    {% if appointment.answered %}
                        <a href="{% url 'coaches:coach_answer' appointment.id %}" class="btn-answer">Answered</a>
                    {% else %}
                        <a href="{% url 'coaches:coach_answer' appointment.id %}" class="btn-answer">Answer</a>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-requests">No requests yet.</p>
    {% endif %}
</div>
{% endblock %}