{% extends 'base.html' %}

{% block body %}
    {% for coach_request in requests %}
        <div>
            <div>
                <a href="{% url 'accounts:user_profile' coach_request.user.user.id %}">{{ coach_request.user.user.username }}</a>
            </div>
            <div>
                {{ coach_request.plan}}
            </div>
            <div>
                {{ coach_request.age }}
            </div>
            <div>
                {{ coach_request.height }}
            </div>
            <div>
                {{ coach_request.weight }}
            </div>
            <div>
                {{ coach_request.descriptions }}
            </div>
        </div><hr>
    {% endfor %}
{% endblock %}