{% extends 'base.html' %}
{% load static %}

{% block title %}Home - OnlineGym{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
    <form method="get" action="{% url 'home:home' %}" class="search-form">
        <input type="text" name="coach_username" placeholder="Search">
        <button type="submit" class="btn-search">Search</button>
    </form>

    <h2>Welcome, {{ request.user.full_name }}</h2>
    <h3>Coaches Posts</h3>
    <div class="posts-grid">
        {% for post in posts %}
            <div class="post-card">
                <a href="{% url 'home:details' post.id %}"><div class="card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img" alt="Post Image" style="max-width: 180px;">
                    {% else %}
                        <img src="../../../media/default_profile.jpg" class="card-img" alt="Default Post Image">
                    {% endif %}
                    <div class="card-body" style="text-align: center;">
                        <a href="{{ post.get_absolute_url }}" style="text-decoration: none;"><h5 class="card-title">{{ post.coach.user.full_name }}</h5></a>
                    </div>
                </div></a>
            </div>
        {% empty %}
            <p class="no-posts">No posts yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}