{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-login">Login</button>
    </form>
    <p class="register-link">No accounts?<a href="{% url 'accounts:user_register' %}">Register</a></p>
</div>
{% endblock %}