{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>User Profile</h2>
    <div class="profile-info">
        <div class="profile-image">
            {% if user.image %}
                <img src="{{ user.image.url }}" alt="Profile Picture" style="max-width: 150px;">
            {% else %}
                <img src="../../../media/default_profile.jpg" alt="Default Profile">
            {% endif %}
        </div>
        <div class="profile-details">
            <p><strong>Full Name:</strong> {{ user.full_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            {% if user.is_coach %}
                <p><strong>Specialty:</strong> {{ user.coach_profile.specialty }}</p>
                <p><strong>Certifications:</strong> {{ user.coach_profile.certifications }}</p>
            {% else %}
                <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
                <p><strong>Height:</strong> {{ user.regular_profile.height }} cm</p>
                <p><strong>Weight:</strong> {{ user.regular_profile.weight }} kg</p>
            {% endif %}
        </div>
    </div>
</div>
{% if user.id != request.user.id %}
<div class="form-container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
</div>
{% endif %}
<a href="{% url 'home:home' %}" class="btn-back">Back to Home</a>
{% if request.user == user %}
    <a href="{% url 'accounts:user_profile_edit' user.id %}" class="btn-back">Edit Profile</a>
{% endif %}

{% endblock %}